{
  "contexts": {
    "ctx-1": [
      "scope1",
      "scope2"
    ],
    "ctx-2": [
      "scope111",
      "scope2"
    ]
  },
  "uma": {
    "authZ": "http://idp.ztf-proto.k3.ipv6.mobi/auth/realms/context-share",
    "client_id": "cap1",
    "client_secret": "",
    "redirect_url": "http://cap1.ztf-proto.k3.ipv6.mobi/uma/pat/callback",
    "jwks_uri": "http://idp.ztf-proto.k3.ipv6.mobi/auth/realms/context-share/protocol/openid-connect/certs"
  },
  "caep": {
    "metadata": {
      "issuer": "http://cap1.ztf-proto.k3.ipv6.mobi",
      "jwks_uri": "http://cap1.ztf-proto.k3.ipv6.mobi/auth/certs",
      "supported_versions": [
        "2.0"
      ],
      "delivery_methods_supported": [
        "https://schemas.openid.net/secevent/risc/delivery-method/push"
      ],
      "status_endpoint": "http://cap1.ztf-proto.k3.ipv6.mobi/sse/mgmt/status",
      "configuration_endpoint": "http://cap1.ztf-proto.k3.ipv6.mobi/sse/mgmt/stream",
      "add_subject_endpoint": "http://cap1.ztf-proto.k3.ipv6.mobi/sse/mgmt/subject:add",
      "remove_subject_endpoint": "http://cap1.ztf-proto.k3.ipv6.mobi/sse/mgmt/subject:remove",
      "verification_endpoint": "http://cap1.ztf-proto.k3.ipv6.mobi/sse/mgmt/verify"
    },
    "receivers": {
      "rp1": {
        "client_id": "rp1",
        "host": "http://rp1.ztf-proto.k3.ipv6.mobi"
      }
    }
  }
}